.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* CUSTOM CSS  */
html {
  background-image: url("https://en1rnkpr0125001.blob.core.windows.net/media/Grosvenor/images/sidegames/Background/gc-game-background-1280x800-Blackjack-Realistic.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {
  font-size: 60px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom right, blue, white);
}

.startGame {
  float: center;
}

.cardsLeft {
  float:right;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-left: -500px;
  margin-right: 200px;
}

.dealerCards {
  justify-content: center;
}

.dealerCardsValue {
  color: white;
}

.dealerCardsImages {
  display: flex;
  justify-content: center;
}

.playerCards {
  justify-content: center;
}

.playerCardsValue {
  color: white;
}

.playerCardsImages {
  display: flex;
  justify-content: center;
}

.playerOptions {
  margin-top: 10px;
}

button {
  padding: 5px 15px;
  background: linear-gradient(to bottom right, grey, white);
  border: 1px solid black;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}

.playerOptions {
  color: white;
}
