.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* CUSTOM CSS  */

/* GLOBAL */
html {
  background-image: url("./icons/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

button {
  padding: 5px 15px;
  background-image: linear-gradient(to bottom, #14a1ff, #2980b9);
  border: 1px solid black;
  cursor: pointer;
  font-size: 40px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}

button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: white;
}

.panelHeader {
  background: #001F3B;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 40px;
}


/*  LOGIN */

.loginBox {
  margin-top: 25%;
  margin-left: 40%;
}

.loginBackground {
  position: absolute;
  background: white;
  height: 500px;
  width: 500px;
  opacity: .15;
  margin: -100px;
  margin-left: -70px;
  margin-top: -250px;
  pointer-events: none;
}

.loginImage {
  margin-left: 120px;
  margin-top: 40px;
}

input {
  height: 50px;
  width: 350px;
  font-size: 30px;
}

.submitButton {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 350px;
  margin-top: 10px;
}

.createUserButton {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 350px;
  margin-top: 10px;
}

/*  NAV */

.navbar {
  font-size: 60px;
  font-weight: bold;
  color: white;
  background: #001F3B;
  opacity: .9;
  padding-left: -500px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.gameTitle {
  margin-left: 25%;
  color: green;
}

.logoutButton {
  background: #3498db;
  background-image: linear-gradient(to bottom, #14a1ff, #2980b9);
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logoutButton:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: red;
}


/*  ALL FEATURES CONTAINER */
.allFeatures {
  display: flex;
  justify-content: space-between;
}

/* Left Side  */

/* LeaderBoard */
.leftContainer {
  color: white;
  font-size: 50px;
  font-weight: bold;
  width: 350px;
  background-image: url('./icons/sky.jpg');
  height: 93%;
  position: absolute;
  left: 0;
  opacity: .9;
}

.leaderboard {
  font-size: 40px;
  padding-bottom: 15px;
  border-radius: 5px;
  top: 0;
  position: absolute;
  width: 100%;
  border-radius: 5px;
}

.leaderScore {
  border-bottom: 1px solid black;
}

/*  Player Help */

.playerHelp {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-bottom: -10px;
}

/*  Right Side */

.rightContainer {
  color: white;
  font-size: 50px;
  font-weight: bold;
  width: 350px;
  background-image: url('./icons/sky.jpg');
  height: 93%;
  position: absolute;
  right: 0;
  opacity: .9;
}

/*  Card Count */
.cardCounter {
  font-size: 40px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.cardCountButton {
  margin-top: 10px;
}

/*  Bankroll */

.bankrollBox {
  bottom: 0;
  position: absolute;
  width: 100%;
  border-radius: 5px;
}

.betButtons {
  margin-top:20px;
}

.increaseButton {
  background: #7eff14;
  background-image: linear-gradient(to bottom, #7eff14, #5ab82b);
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

.increaseButton:hover {
  background: #8af261;
  background-image: linear-gradient(to bottom, #8af261, #0ef030);
  text-decoration: none;
}

.increaseButton:focus {
  outline:0;
}

.decreaseButton {
  background: #e63c3c;
  background-image: linear-gradient(to bottom, #e63c3c, #c90c0c);
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 15px 37px 15px 37px;
  text-decoration: none;
}

.decreaseButton:hover {
  background: #de5252;
  background-image: linear-gradient(to bottom, #de5252, #f01d1d);
  text-decoration: none;
}

.decreaseButton:focus {
  outline:0;
}

.moneyImage {
  margin-bottom: -5px;
}

.betImage {
  margin-bottom: -10px;
}

.piggy:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/*  TABLE */
.table {
  position: absolute;
  left: 0;
  right: 0;
}

.startGame {
  float: center;
  margin-top: 300px;
  font-size: 100px;
  opacity: .9;
}


/*  CARDS */

.cardsLeft {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.remainingCards {
  margin-top: 5px;
}

.remainingCards .tooltiptext {
  visibility: hidden;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px;
}

.remainingCards:hover .tooltiptext {
    visibility: visible;
}

.refresh .tooltiptext {
  visibility: hidden;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -20px;
}

.refresh:hover .tooltiptext {
    visibility: visible;
}

.refreshButton {
  transform-origin:50% 50%;
  animation:30s App-logo-spin infinite linear;
  background: none;
  border: none;
}

.refreshButton:hover {
  background: none;
  border: none;
}

.refreshButton:focus {
  outline:0;
}

.currentBet {
  font-size: 30px;
  font-weight: bold;
  color: yellow;
}

.firstDeal {
  margin-top: 200px;
  font-size: 100px;
  opacity: .9;
}

.dealerCards {
  justify-content: center;
}

.dealerCardsValue {
  color: white;
}

.dealerCardsImages {
  display: flex;
  justify-content: center;
}

.playerCards {
  justify-content: center;
}

.playerCardsValue {
  color: white;
}

.playerCardsImages {
  display: flex;
  justify-content: center;
}

.playerOptions {
  margin-top: 10px;
}

.playAgain {
  font-size: 50px;
  font-weight: bold;
}

/* CARD Images */

.cardImage {
  border-radius: 12px;
}

/*  PLAYER OPTIONS */
.playerOptions {
  color: white;
  display: flex;
  justify-content: center;
}
